.logoLarge {
  position: fixed;
  z-index: 11;
  transform-origin: center top;
  left: 10%;
  width: 85%;
  transition: all 0.3s ease;
  top:45px;
}
@media (max-width: 768px) {
  .logoLarge {
    display: none !important;
    z-index: -1;
  }
  .logoVideo,
  .logoOverlay {
    display: none !important;
    z-index: -1;
  }
}